{% extends "base.html" %}

{% block content %}


{% if not created %}



<div style="margin-top:30px;">
    <form action="." method="POST">
        {% csrf_token %}                        <!-- Django has a {% csrf_token %} tag that is implemented to avoid malicious attacks. It generates a token on the server-side when rendering the page and makes sure to cross-check this token for any requests coming back in. If the incoming requests do not contain the token, they are not executed. -->
        {{ form.as_p }}
        <button style="margin-top:30px;" type="submit">Create Article</button>
    </form>
</div>

{% else %}

<p>Your article was creeated</p>
<a href='/articles/{{ object.id }}/'>{{ object.title }} - {{ object.content }}</a>
{% endif %}
{% endblock content %}